@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Neucha&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@font-face {
  font-family: PolySans Slim;
  src: url("https://db.onlinewebfonts.com/t/d8a4964eec2c4a693d6722609068043c.eot");
  src: url("https://db.onlinewebfonts.com/t/d8a4964eec2c4a693d6722609068043c.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d8a4964eec2c4a693d6722609068043c.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/d8a4964eec2c4a693d6722609068043c.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/d8a4964eec2c4a693d6722609068043c.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/d8a4964eec2c4a693d6722609068043c.svg#PolySans Slim")
      format("svg");
}
@font-face {
  font-family: Times New Roman;
  src: url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.eot");
  src: url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/32441506567156636049eb850b53f02a.svg#Times New Roman")
      format("svg");
}
@font-face {
  font-family: "NeueHaasGroteskText W01 Md";
  src: url("https://db.onlinewebfonts.com/t/ac281b07443720157d35f926710219f7.eot");
  src: url("https://db.onlinewebfonts.com/t/ac281b07443720157d35f926710219f7.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ac281b07443720157d35f926710219f7.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/ac281b07443720157d35f926710219f7.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/ac281b07443720157d35f926710219f7.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/ac281b07443720157d35f926710219f7.svg#NeueHaasGroteskText W01 Md")
      format("svg");
}
@font-face {
  font-family: "Arial";
  src: url("https://db.onlinewebfonts.com/t/8d223b3ad8d4819e9dcf22757e4cc2c4.eot");
  src: url("https://db.onlinewebfonts.com/t/8d223b3ad8d4819e9dcf22757e4cc2c4.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/8d223b3ad8d4819e9dcf22757e4cc2c4.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/8d223b3ad8d4819e9dcf22757e4cc2c4.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/8d223b3ad8d4819e9dcf22757e4cc2c4.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/8d223b3ad8d4819e9dcf22757e4cc2c4.svg#Arial")
      format("svg");
}
@theme {
  --font-Polysans: PolySans Slim;
  --font-Roman: Times New Roman;
  --font-Neue: "NeueHaasGroteskText W01 Md";
  --font-Arial: "Arial";
}
:root {
  --bg: #171717;
  --fg: #fff;
  --menu-bg: #0f0f0f;
  --menu-fg-secondary: #5f5f5f;
  --hamburger-icon-border: rgba(255, 255, 255, 0.1);
}
body {
  font-family: "Poppins" sans-serif;
}

p {
  font-size: 0.95rem;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
}
a {
  text-decoration: none;
  color: var(--fg);
  font-size: 1.1rem;
  font-weight: 500;
}
.container {
  position: relative;
  transform: translateY(0svh);
  background-color: var(--bg);
  color: var(--fg);
}
nav {
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  height: 100dvh;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
}
.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  pointer-events: all;
  color: var(--menu-fg-secondary);
  z-index: 2;
}
.menu-logo {
  width: 2rem;
  height: 2rem;
}
.menu-toggle-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.menu-toggle-label {
  overflow: hidden;
}
.menu-toggle-label p {
  position: relative;
  transform: translateY(0%);
  will-change: transform;
}
.menu-hamburger-icon {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--hamburger-icon-border);
  border-radius: 100%;
}
.menu-hamburger-icon span {
  position: absolute;
  width: 15px;
  height: 1.25px;
  background-color: var(--fg);
  transition: all 0.73 cubic-bezier(0.87, 0, 0.13, 1);
  transform-origin: center;
  will-change: transform;
}
.menu-hamburger-icon span:nth-child(1) {
  transform: translateX(-3px);
}
.menu-hamburger-icon span:nth-child(2) {
  transform: translateY(3px);
}
.menu-hamburger-icon.active span:nth-child(1) {
  transform: translateY(0) rotate(45deg) scaleX(1.05);
}
.menu-hamburger-icon.active span:nth-child(2) {
  transform: translateY(0) rotate(-45deg) scaleX(1.05);
}
.menu-overlay,
.menu-overlay-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  color: var(--fg);
  overflow: hidden;
  z-index: 1;
}
.menu-overlay {
  background-color: var(--menu-bg);
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0%, 0%); */
  will-change: clip-path;
}
.menu-overlay-content {
  display: flex;
  /* transform: translateY(-50%); */
  will-change: transform;
  pointer-events: all;
}
.menu-media-wrapper {
  flex: 2;
  /* opacity: 0; */
  will-change: opacity;
}
.menu-content-wrapper {
  flex: 3;
  position: relative;
  display: flex;
}
.menu-content-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.menu-footer {
  margin: 0 auto;
}
